pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    font-size: 16px;
}
h3 {
    font-size: 22px;
}
body {
    background-color: #fdf6e3
}
.btn {
    width: 140px;
}

.container {
     display: flex;
    /* align-items: right;
    justify-content: right;
    flex-flow: row wrap;
    align-content: right; */
    /* width:50% */
    /* flex-shrink: 0; */
    align-items: left;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: left;
}
.inputFields {
    display: flex;
    /* flex-grow: 1; */
    flex-flow: column wrap;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 400px;
    /* align-items: left;
    justify-content: left;
    align-content: left; */
    margin-right: 40px; 
}
.field {

}
.allSnips {
    display: flex;
    /* position: relative; */
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: flex-end;
    flex-flow: column wrap;
}

 .snippetList {
    margin-left: 15px;
    min-width: 700px;
} 

.snip {
    padding: 2px;
}

.snip:hover {
    border-style: solid;
    border-width: 1px; 
    border-color: #20538D;
}


.field {
    width: 200px;
}

textarea,
pre {
    -moz-tab-size : 2;
      -o-tab-size : 2;
         tab-size : 2;
}


.btn {
    font-size: 14px;
	padding: 10px 15px;
	background: rgb(50, 146, 117);
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.btn:hover {
    cursor: pointer;
	background: rgb(41, 116, 92);
	/* background: #356094; */
	border: solid 1px #2A4E77;
	text-decoration: none;
}
.btn:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: rgb(27, 75, 56);
	border: solid 1px #203E5F;
}

/* .legend {

} */

.field {
    font-family: sans-serif;
    border: 4px solid #268bd2;
    background: #fdf6e3;
    border-radius: 3px;
    padding: 15px;
}

.field legend {
    /* background: rgb(115, 22, 168); */
    background:#268bd2;
    color: #fff;
    padding: 5px 10px ;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #fdf6e3;
    /* margin-left: px; */
    /* color: #fdf6e3 */
}
/* 
@font-face {
    font-family: 'Womby';
    src:url(C:\Users\mikey\Desktop\HREXT\appCreationPractice\styles\fonts\womby\Womby.ttf) format('truetype');
}

.wFont {
    font-family: 'Womby', Fallback, sans-serif;
} */

/* .Fixed {
    position: fixed;
    top: 100px;
} */

