pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

.btn {
    width: auto;
}

.container {
     display: flex;
    /* align-items: right;
    justify-content: right;
    flex-flow: row wrap;
    align-content: right; */
    /* width:50% */
    /* flex-shrink: 0; */
    align-items: left;
    justify-content: center;
    flex-flow: row wrap;
    align-content: left;
}
.inputFields {
    display: flex;
    flex-grow: 1;
    flex-flow: column wrap;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 400px;
    /* align-items: left;
    justify-content: left;
    align-content: left;*/
}

.allSnips {
    display: flex;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: auto;
    /* justify-content: right; */
    /* align-items: right;
    flex-flow: column wrap;
    align-content: right; */
}

 .snippetList {
    min-width: 700px;
} 

.field {
    width: 200px;
}

textarea,
pre {
    -moz-tab-size : 2;
      -o-tab-size : 2;
         tab-size : 2;
}


